/* some style */

html, body {
  font-family: 'CourneufRegular', monospace;
  margin: 0;
  background: #3b3e3f;
  color: #ddd;
}

.ui {
  background-image: url('/img/interface.png');
}
/*
 * ------
 * Navbar
 * ------
 */
.navbar {
  height: 40px;
  line-height: 35px;
}


/*
 * -------
 * Buttons
 * -------
 */
.btn {
  overflow: hidden;
  display: inline-block;
  height: 55px;
  line-height: 55px;
  cursor: pointer;
  color: #ddd;
}

.btn__left, .btn__middle, .btn__right {
  height: 100%;
  float: left;
}

.btn__left, .btn__right {
  width: 20px;
}

.btn__left   { background-position: 0px 330px; }
.btn__middle { background-position: 0px 275px; }
.btn__right  { background-position: -25px 330px; }

.btn--red .btn__left   { background-position: -45px 330px; }
.btn--red .btn__middle { background-position: 0px 220px; }
.btn--red .btn__right  { background-position: -70px 330px; }

.btn--yellow .btn__left   { background-position: -90px 330px; }
.btn--yellow .btn__middle { background-position: 0px 165px; }
.btn--yellow .btn__right  { background-position: -115px 330px; }

.btn--green .btn__left   { background-position: -135px 330px; }
.btn--green .btn__middle { background-position: 0px 110px; }
.btn--green .btn__right  { background-position: -160px 330px; }

.btn--blue .btn__left   { background-position: -180px 330px; }
.btn--blue .btn__middle { background-position: 0px 55px; }
.btn--blue .btn__right  { background-position: -205px 330px; }

