/* some style */

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'CourneufRegular', monospace;
  margin: 0;
  background: #3b3e3f;
  color: #ddd;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.ui {
  background-image: url('/img/interface.png');
}

/*
 * ------------
 * Hero Preview
 * ------------
 */
.hero-preview {
  width: 180px;
  display: inline-block;
}

.hero-preview__nametag {
  background-position: 0px -40px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  width: 100%;
}

.hero-preview__nametag__level {
  position: absolute;
  display: block;
  left: 16px;
  width: 20px;
  font-weight: bold;
  top: 2px;
  color: #2eba66;
  text-align: center;
}

.hero-image {
  background-image: url('/img/repeating-vertical.png');
  width: 100%;
  background-position: -830px 0px;
  height: 100px;
}

.hero-image__footer {
  width: 100%;
  height: 15px;
  background-position: 0px -110px;
}

.hero-footer {
  width: 100%;
  height: 15px;
  background-position: 0px -155px;
}

.hero-panel {
  background-image: url('/img/repeating-vertical.png');
  width: 100%;
  background-position: 0px -120px;
  padding: 0 15px;
}

.icon {
  background-image: url('/img/icons.png');
  width: 25px;
  height: 25px;
  display: inline-block;
}

.gold {
  background-position: -375px 0;
}

.amount--small {
  color: #aba852;
}

.amount--big {
  color: white;
}

.amount--large {
  color: #68e157;
}

.amount--huge {
  color: #28e3b0;
}

.xp-orb--full {
  background-position: -50px 0;
}

.xp-orb--empty {
  background-position: -75px 0;
}

.heart--full {
  background-position: 0px 0;
}

.heart--empty {
  background-position: -25px 0;
}

.item-slots {
  text-align: center;
}

.item-slot {
  width: 50px;
  height: 40px;
  background-position: -235px -165px;
  display: inline-block;
}

.hero-list {
  text-align: center;
}

.hero-list .hero-preview {
  margin: 0 5px;
}

.action-bar {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 18px;
  height: 80px;
  background-position: 0 55px;
}

.action-bar > .btn {
  margin: 0 2.5px;
}

.icon-bar {
  height: 25px;
  line-height: 25px;
}


.scroll {
  width: 300px;
  color: #333;
  text-align: center;
}

.scroll__top, .scroll__bottom {
  height: 15px;
}

.scroll__top {
  background-position: 0 380px;
}

.scroll__bottom {
  background-position: 0 345px;
}

.scroll__middle {
  background-image: url('/img/repeating-vertical.png');
  background-position: -525px 0;
  padding: 0 20px;
}

/*
 * ------
 * Navbar
 * ------
 */
.navbar {
  height: 40px;
  line-height: 35px;
}


/*
 * -------
 * Buttons
 * -------
 */
.btn {
  overflow: hidden;
  display: inline-block;
  height: 55px;
  line-height: 55px;
  cursor: pointer;
  color: #ddd;
}

.btn__left, .btn__middle, .btn__right {
  height: 100%;
  float: left;
}

.btn__middle {
  background-image: url('/img/repeating-horizontal.png');
}

.btn__left, .btn__right {
  width: 20px;
}

.btn__left   { background-position: 0px 330px; }
.btn__middle { background-position: 0px 0; }
.btn__right  { background-position: -25px 330px; }

.btn--red .btn__left   { background-position: -45px 330px; }
.btn--red .btn__middle { background-position: 0px -55px; }
.btn--red .btn__right  { background-position: -70px 330px; }

.btn--yellow .btn__left   { background-position: -90px 330px; }
.btn--yellow .btn__middle { background-position: 0px -110px; }
.btn--yellow .btn__right  { background-position: -115px 330px; }

.btn--green .btn__left   { background-position: -135px 330px; }
.btn--green .btn__middle { background-position: 0px -165px; }
.btn--green .btn__right  { background-position: -160px 330px; }

.btn--blue .btn__left   { background-position: -180px 330px; }
.btn--blue .btn__middle { background-position: 0px -220px; }
.btn--blue .btn__right  { background-position: -205px 330px; }

